anyio==3.3.4
appnope==0.1.2
argon2-cffi==20.1.0
asttokens==2.0.5
async-generator==1.10
attrs==20.3.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
black==21.12b0
bleach==3.3.0
branca==0.4.2
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.7
click==7.1.2
cloudpickle==2.0.0
cycler==0.10.0
dask==2021.10.0
debugpy==1.5.1
decorator==5.0.7
defusedxml==0.7.1
entrypoints==0.3
executing==0.8.2
filelock==3.3.2
Flask==2.0.2
folium==0.12.1.post1
fsspec==2021.10.1
geographiclib==1.52
geopy==2.2.0
ghp-import==2.0.2
grpcio==1.41.1
idna==2.10
importlib-metadata==4.10.1
ipykernel==6.7.0
ipympl==0.8.7
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.11.2
jupyterlab==3.2.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.0
jupytext==1.13.6
kiwisolver==1.3.1
locket==0.2.1
Markdown==3.3.6
markdown-it-py==1.1.0
MarkupSafe==2.0.1
matplotlib==3.4.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.0
mergedeep==1.3.4
missingno==0.5.0
mistune==0.8.4
mkdocs==1.2.3
mkdocs-exclude==1.0.2
mkdocs-jupyter==0.20.0
mkdocs-material==8.1.10
mkdocs-material-extensions==1.0.3
modin==0.11.2
msgpack==1.0.2
mypy-extensions==0.4.3
nbclassic==0.3.4
nbclient==0.5.3
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
numpy==1.21.2
packaging==20.9
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
platformdirs==2.4.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.19.1
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9
pycodestyle==2.8.0
pycountry==20.7.3
pycparser==2.20
Pygments==2.11.2
pymdown-extensions==9.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
ray==1.8.0
redis==3.5.3
requests==2.26.0
scikit-learn==1.0
scipy==1.6.3
seaborn==0.11.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
stack-data==0.1.4
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.2.0
toml==0.10.2
tomli==1.2.3
toolz==0.11.1
tornado==6.1
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.25.10
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.1
xgboost==1.5.1
zipp==3.7.0
